%% -*- erlang -*-
{erl_opts, [debug_info]}.

{deps,
 [{jiffy, {git, "https://github.com/davisp/jiffy.git"}}]}.

%% https://github.com/davisp/jiffy/pull/118#issuecomment-202677295
{overrides,
 [{override, jiffy,
   [{plugins, [pc]},
    {artifacts, ["priv/jiffy.so"]},
    {provider_hooks,
     [{post,
       [{compile, {pc, compile}},
        {clean, {pc, clean}}]}]
    }]
  }]
}.

{relx,
 [{release, {btce_fetcher, "0.0.1"}, [btce_fetcher, inets, ssl, jiffy]},
  {include_rts, false},
  {vm_args, "./vm.args"}
 ]}.

{profiles,
 [{prod,
   [{relx,
     [{include_src, false},
      {include_rts, true}]}]}]}.
